/**
 * author: Soli <soli@cbug.org>
 * date  : 2013-04-30
 * */
/** global start */
body{
	color:#333333;
	line-height:18px;
	font-size:12px;
	font-family:"Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
}

h1, h2{
	font-family: Myriad Pro, "Lucida Grande","Lucida Sans Unicode",Trebuchet MS,Arial;
}

h3, h4, h5{
	font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
}

a, a:hover, a:visited {text-decoration: none;}
img {border: none;}

.center, .textcenter {text-align: center;}
.left {	float: left; }
.textleft {text-align: left;}

.right { float: right; }
.textright {text-align:right;}
.clear {clear:both;}
.block {display:block;}

/** global end */
/** main frame start */
#wrap{}

#container{
	width: 960px;
	margin: 0px auto;
	position: relative;
	padding-bottom: 3em;
}

#header{
	padding: 10px 0 3px;
	position: relative;
}

#nav{
	margin-bottom: 16px;
	font-size: 18px;
	height: 36px;
	background: transparent url(../img/nav-bg.png) no-repeat 0px -1px;
	position: relative;
}

#content{}

#main{
	width: 640px;
	float: left;
}

#sidebar{
	width: 300px;
	float: right;
}

#footer{
	border-top: 1px solid #ddd;
	padding: 10px 0 5em;
}

/** main frame end */
/** subitems start */
#header h1{
	//TODO
}

#menus{
	list-style: none;
	display: block;
	margin: 0;
	padding: 0px;
	float: left;
}

#menus li{
	font-weight: bold;
	margin:0;
	padding: 0px;
	float: left;
	background: url(../img/navdivider.png) no-repeat right top;
}

#menus li a{
	padding: 9px 22px 9px 20px;
	text-decoration: none;
	text-shadow: #ddd 0px 1px 0px;
	color: #000;
	display: block;
}

#menus li a:hover{
	color: #fff;
	background: #b1b1b1 url(../img/nav-sprite-default.png) repeat-x 0 0px;
}

#menus li a:active{
	color: #fff;
	background: #2a2a2a url(../img/nav-sprite-default.png) repeat-x 0 -36px;
}

.post-wrap{
	//TODO
}

.post{
	//TODO
}

.post-header{
	//TODO
}

.post-title{
	//TODO
}

.post-meta{
	//TODO
}

.post-content{
	//TODO
}

.post-footer{
	//TODO
}

.post-tags{
	//TODO
}

.widget{
	//TODO
}

.wtitle{
	//TODO
}

.wcontent{
	//TODO
}
/** subitems end */
