/**
 * author: Soli <soli@cbug.org>
 * date  : 2013-04-30
 * */
/** global start */
body{
	color:#333333;
	line-height:18px;
	font-size:12px;
	font-family:"Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
}

h1, h2{
	font-family: Myriad Pro, "Lucida Grande","Lucida Sans Unicode",Trebuchet MS,Arial;
}

h3, h4, h5{
	font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
}

a, a:visited {text-decoration: none; color: #0088cc;}
a:hover {text-decoration: underline;}

img {border: none;}

.center, .textcenter {text-align: center;}
.left {	float: left; }
.textleft {text-align: left;}

.right { float: right; }
.textright {text-align:right;}
.clear {clear:both;}
.block {display:block;}

.hl {
	background: url(../img/hl-dot.gif) repeat-x top;
	clear: both;
	height: 2px;
	overflow: hidden;
	width: 100%;
}

.rcbox{
	/** round corners */
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;

	margin-bottom: 20px;
	padding: 10px;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	background: #FFF;
}

/** global end */
/** main frame start */
#wrap{}

#container{
	width: 960px;
	margin: 0px auto;
	position: relative;
	padding-bottom: 3em;
}

#header{
	padding: 10px 0 3px;
	position: relative;
}

#nav{
	margin-bottom: 16px;
	font-size: 18px;
	height: 36px;
	background: transparent url(../img/nav-bg.png) no-repeat 0px -1px;
	position: relative;
}

#content{}

#main{
	width: 640px;
	float: left;
}

#sidebar{
	width: 300px;
	float: right;
}

#footer{
	border-top: 1px solid #ccc;
	padding: 10px 0 5em;
}

/** main frame end */
/** subitems start */
#blogname{
	margin: 0px;
	font-size: 39px;
	float: left;
	line-height: 47px;
}

#blogname a{
	text-decoration: none;
	color: #000;
}

#blogsub{
	margin: 16px 5px 0px 20px;
	font-size: 16px;
	float: left;
}

#menus{
	list-style: none;
	display: block;
	margin: 0;
	padding: 0px;
	float: left;
}

#menus li{
	font-weight: bold;
	margin:0;
	padding: 0px;
	float: left;
	background: url(../img/navdivider.png) no-repeat right top;
}

#menus li a{
	padding: 9px 22px 9px 20px;
	text-decoration: none;
	text-shadow: #ddd 0px 1px 0px;
	color: #000;
	display: block;
}

#menus li a:hover{
	color: #fff;
	background: #b1b1b1 url(../img/nav-sprite-default.png) repeat-x 0 0px;
}

#menus li a:active{
	color: #fff;
	background: #2a2a2a url(../img/nav-sprite-default.png) repeat-x 0 -36px;
}

.post-wrap{

}

.post{
	padding: 0px;
}

.post-header{
	margin: 18px;
}

.post-title{
	font-size: 30px;
	letter-spacing: -1px;
	margin: 0 0 .45em;
	color: #393939;
	font-weight: 600;
	text-shadow: #B5B5B5 1px 1px 2px;
	text-decoration: none;
}

.post-meta{
	background: #eee;
	color: #000;
	font-size: .9em;
	font-style: normal;
	padding: 5px 5px;
	margin: 0px;
	line-height: 2.4em;
}

.post-content{
	margin: 18px;
}

.post-more{
	margin: 0px 10px;
}

.post-footer{
	background: url(../img/box-bgr2.gif) #eee repeat-x top;
	height: 40px;
	padding: 0 18px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-khtml-border-bottom-left-radius: 5px;
	-khtml-border-bottom-right-radius: 5px;
}

.post-tags{
	height: 40px;
	line-height:40px;
}

.post-tags ul{
	list-style: none;
}

.post-tags li{
	float: left;
	color: #eee;
	background: #fff;
	padding: 2px 4px;
	margin-right: 6px;
	/** round corners */
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.post-tags a {
	font-weight: bold;
	color: #aaa;
	text-decoration: none;
}

#sidebar a{
 	color: #000;
}

.widget{

}

.wtitle{
	font-size: 1.2em;
	font-weight: bold;
	margin: 0px 0px 5px 0px;
}

.wcontent{
	//TODO
}

#footer span{
	margin: 5px;
}

/** subitems end */
